<div class="row">
  <nav class="df-admin-nav small-12 columns">
    <ul>
      <li><%= link_to 'Dashboard', admin_path %></li>
      <li><%= link_to 'Usuários', admin_users_path %></li>
      <li><%= link_to 'Spots', admin_spots_path %></li>
      <li><%= link_to 'Comentários', admin_comments_path %></li>
      <li><%= link_to 'Imagens', admin_designs_path %></li>
    </ul>
  </nav>
</div>
